
.profile-name {
    color:black;
}

.job-title-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  color: white;
  text-align: center;
}
.well.profile-block {
  color: #fff;
  h3 {
    margin-top: 0;
  }
}
.well.profile-description {
  background-color: #337ab7;
  border-color: black;
}
.well.contact-info {
  background-color: #5bc0de;
  border-color: black;
}

.alert-success {
  color: white;
  background-color: gray;
  border-color: black;
}

img {
    border-radius: 50%;
    -webkit-box-shadow: 8px 6px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 8px 6px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 8px 6px 5px 0px rgba(50, 50, 50, 0.75);
}
